.main{
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;

}
.prodcast {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 70%;
    
}
.weather {
    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(247, 237, 237);

}

.hour{
    padding: 0 2rem 0 2rem;
    border-radius: 10px;
    height: 10%;

    background-color: rgba(61, 60, 60, 0.534);
    color: rgba(255, 255, 255, 0.521);
}